.card-container {
  background-color: rgb(209, 99, 99);
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.error {
  height: 80%;
}
