.card-container {
  background-color: rgb(209, 99, 99);
  height: 80%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 60%;
  grid-gap: 2px;
}

.error {
  height: 80%;
}
