.hero-card {
  padding: 10px;
  margin: 30px;
  border-radius: 16px;
  box-shadow: 0px 6px 10px 3px #131313bf;
  transition: box-shadow 0.2s ease-in-out;
  background-color: #ab4343;
}

.hero-card:hover {
  box-shadow: 0px 3px 10px 3px #1ab2f371;
}
.img-container {
  pointer-events: none;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px 16px 0 0;
  opacity: 0.9;
  border-bottom: 6px solid rgb(48, 48, 48);
}

.hero-card h1 {
  color: rgb(48, 48, 48);
  margin: 15px 0 0 0;
  text-align: center;
  font-size: 20px;
}

.power-stats > * {
  pointer-events: none;
}
.power-stats li {
  list-style: none;
  color: rgb(48, 48, 48);
  margin: 20px 0;
}

.power-stats h3 {
  font-size: 15px;
  margin: 1px 0;
}

.intelligence {
  animation: intelligence 2s;
}

.strength {
  animation: strength 2s;
}

.speed {
  animation: speed 2s;
}

.durability {
  animation: durability 2s;
}

.power {
  animation: power 2s;
}

.combat {
  animation: combat 2s;
}

.stat-bar {
  background: #353b48;
  display: block;
  height: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #2187e7b3;
}

.stat-bar span {
  height: 2px;
  float: left;
  background: #2187e7;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn-primary {
  background-color: #1ab1f3;
  border: none;
}

/* hero modal  */

.hero-details-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
